<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="ISO-8859-1"/>
    <title>Notes</title>
</head>
<body>
<th:block th:object="${note}" th:each="n : ${notes}">
    <p th:text="${n.text}">Note: </p>
</th:block>
</body>
</html>